html, body {
    font-family: "Fira Sans", sans-serif;
}

body {
    margin: 2em;
}

blockquote {
    color: DarkSlateGray;
    border-left: solid 1px gray;
    margin-left: 0;
    padding-left: 1em;
    text-decoration: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Charter", serif;
}

h1, h2, h3 {
    color: #222299;
}

p {
    max-width: 52em;
}

pre, code {
    font-family: "Fira Code", monospace;
    font-size: 0.9em;
}


#TOC {
    float: right;
}
